.header-page{
  padding: 40px 120px;
  position: relative;
}

.header-container{
display: flex;
justify-content: space-between;
align-items: center;
}

.header-wrapper{
  display: flex;
  justify-content: space-between;
}

.header__image{
  position: absolute;
  left: 0;
  top: 0;
}

.logo{
  display: flex;
  
}
.logo__text{
  font-family: 'Lexend';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;

text-transform: capitalize;

color: #1B1C57;
}

.logo__link{
z-index: 10;
display: flex;
align-items: center;
gap: 12px;
}

.header_nav__list{
  z-index: 10;
}

.sign-button{
  z-index: 10;
  background: #D1FAE5;
border-radius: 32px;
font-family: 'Lexend';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 22px;

color: #047857;
padding: 12px 24px;
width: 108px;
height: 46px;
margin-left: 56px;
}

.header_nav__list{
display: flex;
align-items: center;
z-index: 10;
gap: 16px;
margin-left: 430px;
}

.header_nav__item{
  z-index: 10;
  padding: 8px 16px;

height: 34px;

background: rgba(255, 255, 255, 0.1);
border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 32px;
font-family: 'Lexend';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;


color: #F0F3FD;
}

.header_nav__select{
  background: rgba(255, 255, 255, 0.1);
  font-family: 'Lexend';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;


color: #F0F3FD;
}