.tour__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 991.98px) {
  .tour__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 30px;
  }
}

.tour__article {
  width: 100%;
  max-width: 524px;
}
@media screen and (max-width: 991.98px) {
  .tour__article {
    max-width: none;
  }
}
@media (min-width: 550px) {
  .tour__article {
    padding-left: 40px;
  }
}
.tour__headline {
  margin-left: -40px;
}
.tour__title {
  margin-top: 12px;
}
.tour__title_detail {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
}
.tour__paragraph {
  margin-top: 16px;
  max-width: 415px;
}
.tour__detail {
  margin-top: 16px;
}
.tour__detail-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 412px) {
  .tour__detail-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .tour__detail-list .tour__detail-el {
    max-width: none;
  }
  .tour__detail-list .tour__detail-el:nth-child(odd) {
    margin: 16px 0 0 0;
  }
}
.tour__detail-el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 195px;
  margin-top: 16px;
}
.tour__detail-el:nth-child(odd) {
  margin-right: 100%;
}
.tour__detail-descr {
  color: #3c4563;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.tour__call-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 440px;
}
@media screen and (max-width: 991.98px) {
  .tour__call-box {
    max-width: none;
    min-width: 440px;
  }
}
@media screen and (max-width: 560px) {
  .tour__call-box {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 0;
  }
  .tour__call-box .tour__user {
    margin-bottom: 15px;
  }
}
.tour__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}
.tour__user-avatar {
  border-radius: 50%;
  width: 56px;
  height: 56px;
}
.tour__user-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 24px;
  color: #0e1735;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.tour__user-status {
  color: #888b97;
  font-size: 16px;
}
.tour__button {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 160px;
  flex: 0 0 160px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #10b981;
  border-radius: 32px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.tour__button:hover {
  background-color: #0d9a6b;
}
.tour__button:hover .tour__call-icon {
  -webkit-animation: 0.4s shake ease-out;
  animation: 0.4s shake ease-out;
}
.tour__call-icon {
  margin-right: 16px;
}

@-webkit-keyframes shake {
  30% {
    -webkit-transform: rotate(-20deg) scale(1.1);
    transform: rotate(-20deg) scale(1.1);
  }
  68% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  100%,
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes shake {
  30% {
    -webkit-transform: rotate(-20deg) scale(1.1);
    transform: rotate(-20deg) scale(1.1);
  }
  68% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  100%,
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.tour__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 32px;
}
@media screen and (max-width: 991.98px) {
  .tour__bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.tour__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.tour__images::after {
  content: "";

  position: absolute;
  width: 438px;
  height: 494px;
  left: 1593px;
  top: 1574px;

  background: #fffa82;
  opacity: 0.3;
  filter: blur(60px);
  transform: rotate(90deg);
}

.tour__images {
  position: absolute;

  top: 0%;
  left: 50%;
  width: 528px;
  overflow: hidden;
}

.tour__slider {
  display: flex;

  z-index: 10;
  position: relative;
}

@media screen and (max-width: 991.98px) {
  .tour__images {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .tour__images .tour__images-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    padding-left: 20px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .tour__images .tour__video {
    margin: 0;
  }
}
@media screen and (max-width: 472px) {
  .tour__images .tour__images-list {
    padding: 0;
    margin-top: 12px;
  }
}
.tour__video {
  max-width: 488px;
  margin: 0 40px;
}
@media screen and (max-width: 1128px) {
  .tour__video {
    width: 400px;
  }
}
@media screen and (max-width: 472px) {
  .tour__video {
    width: 290px;
  }
}
.tour__images-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-top: 12px;
  gap: 12px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media screen and (max-width: 1128px) {
  .tour__images-list {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin: 0 40px;
    padding-top: 10px;
  }
  .tour__images-list .image__list-other {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.tour__img {
  border-radius: 4px;
}

.image__list-other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.tour__decor {
  position: absolute;
  z-index: -1;
}

@media (max-width: 1000px) {
  .tour__images {
    display: none;
  }
}
@media screen and (max-width: 991.98px) {
  .tour__decor {
    display: none;
  }
}
@media screen and (min-width: 2500px) {
  .tour__decor {
    display: none;
  }
}

.tour-decor__red {
  top: -300px;
  right: 0;
}

.tour-decor__yellow {
  top: -100px;
  right: 0;
}
