.main__subscribe {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 120px;
}

.subscribe__container {
  position: relative;
}

.subscribe__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  min-height: 312px;
  background: url("../img/main__subscribe/fill-bg.jpg") center no-repeat;
  background-size: 100%;
  background-size: cover;
  border-radius: 32px;
  padding: 65px 16px;
}
.subscribe__title {
  max-width: 424px;
  margin: 0 auto;
  margin-bottom: 32px;
  z-index: 5;
}
.subscribe__form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 496px;
  width: 100%;
  margin: 0 auto;
}
.subscribe__email_icon {
  left: 6%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  z-index: 6;
}
.subscribe__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 46px;
  border-radius: 32px;
  -webkit-box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
  box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
  padding: 0px 140px 0px 14%;
  color: #888b97;
  font-weight: 500;
  font-size: 14px;
  z-index: 5;
}
@media screen and (max-width: 416px) {
  .subscribe__input {
    padding: 0px 0px 0px 15%;
  }
}
.subscribe__btn {
  z-index: 6;
  position: absolute;
  right: 4px;
  top: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  width: 130px;
  height: 38px;
  border-radius: 32px;
  background-color: #10b981;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media screen and (max-width: 416px) {
  .subscribe__btn {
    top: auto;
    bottom: -100%;
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
}
.subscribe__btn:hover {
  background-color: #047857;
}
.subscribe .subscribe__btn-icon {
  background-color: #0ca77e;
  margin-top: 100px;
}

@media screen and (max-width: 991.98px) {
  .subscribe__decor {
    display: none;
  }
}
.subscribe__decor .subscribe__decor-el {
  position: absolute;
  z-index: 0;
}
.subscribe__decor .el1 {
  top: 38px;
  left: 44px;
}
.subscribe__decor .el2 {
  bottom: 63px;
  left: 37px;
}
.subscribe__decor .el3 {
  top: 51px;
  left: 184px;
}
.subscribe__decor .el4 {
  bottom: 80px;
  left: 204px;
}
.subscribe__decor .el5 {
  top: 44px;
  right: 200px;
}
.subscribe__decor .el6 {
  right: 170px;
  bottom: 73px;
}
.subscribe__decor .el7 {
  top: 82px;
  right: 52px;
}
.subscribe__decor .el8 {
  bottom: 53px;
  right: 70px;
}
